:root {
  --color-primary-light: rgba(20, 60, 109);
  --color-primary-dark: rgba(252, 211, 77);

  --color-background-light: white;
  --color-background-dark: rgba(12, 10, 9);

  --color-input-bg-light: rgba(232, 238, 239);
  --color-input-bg-dark: rgba(30, 31, 32);

  --color-text-light: black;
  --color-text-dark: white;

  --color-primary: var(--color-primary-light);
  --color-background: var(--color-background-light);
  --color-input-bg: var(--color-input-bg-light);
  --color-text: var(--color-text-light);
  --color-text-inverted: var(--color-text-dark);
}

:root:has(body.dark) {
  --color-primary: var(--color-primary-dark);
  --color-background: var(--color-background-dark);
  --color-input-bg: var(--color-input-bg-dark);
  --color-text: var(--color-text-dark);
  --color-text-inverted: var(--color-text-light);
}

body {
  --font-primary: "Roboto Slab", serif;
  --font-primary-optical-sizing: auto;
  --font-primary-weight: 500;

  --gfx-moon-pos: 10% 10%;

  min-height: 100dvh;

  color: var(--color-text);
  background:
    radial-gradient(circle at var(--gfx-moon-pos), rgba(255, 252, 242, 1) 0%, rgba(181, 181, 181, 0.29) 4.4%, rgba(181, 181, 181, 0) 50%),
    radial-gradient(circle at var(--gfx-moon-pos), rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(255, 252, 242, 1) 0%, rgba(255, 252, 242, 1) 3.9%, rgba(181, 181, 181, 0.29) 4%, rgba(181, 181, 181, 0) 4%),
    linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 80%, rgba(9, 9, 121, 1) 100%);

  padding: 2rem 0;
}

* {
  font-family: var(--font-primary);
  font-optical-sizing: var(--font-primary-optical-sizing);
  font-weight: var(--font-primary-weight);
}

footer {
  display: flex;
  justify-content: space-between;

  padding: 1.5rem 0 0.5rem 0;

  width: 100%;
}

h1 {
  --color: var(--color-primary);
  --shadow: 0px 2px 5px rgba(0, 0, 0, 0.45);

  position: relative;

  width: fit-content;

  color: var(--color);
  text-shadow: var(--shadow);

  font-weight: bold;
}

h1::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -0.6rem;

  width: calc(100% - 0.7rem);
  height: 3px;

  background-color: var(--color);
  box-shadow: var(--shadow);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.copyright-notice {
  color: white;
  mix-blend-mode: difference;
}
